<!DOCTYPE html>

<html>
<head>
<title> S'mores</title>
<style type="text/css">
#a1{
	margin-top:150px;
	margin-left:50px;
	font-size:36px;
	color:#FF0000;
}
.answer {
       height:40px;
       width:300px;
        color: black;
        padding: 15px 28px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
       margin-left:50px;
       margin-top:15px;
       border:1px solid; 
       border-color:#CCC;
       background:#FFF;
</style>
</head>
<body>
<div id="a1" align="center" ><h1>Welcome to S'mores!</h1>

<button class="answer" type="button" align="center" ><a href=story/0>Click to Begin!</a></button>
</div>
<body>
</html>
