<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>S'mores</title>
        <script type = "text/javascript">
            var ans = {{ ams }};
            var tried = 0;
function result1(){
    if (tried==0) {
        if (ans == 1){
            tried=1;
            document.getElementById("a1").style.background="green";
            document.getElementById("message").style.color="green";
            document.getElementById("message").innerHTML="<a href={{ next }}><button>Continue</button></a>";
        } else {
            document.getElementById("a1").style.background="red";
            document.getElementById("message").style.color="red";
            document.getElementById("message").innerHTML="<button>Sorry! Try again.</button>";
        }
    }
}
function result2() {
    if (tried==0) {
        if (ans == 2){
            tried=1;
            document.getElementById("a2").style.background="green";
            document.getElementById("message").style.color="green";
            document.getElementById("message").innerHTML="<a href={{ next }}><button>Continue</button></a>";
        } else {
            document.getElementById("a2").style.background="red";
            document.getElementById("message").style.color="red";
            document.getElementById("message").innerHTML="<button>Sorry! Try again.</button>";
        }
    }
}
function result3(){
    if (tried==0) {
        if (ans == 3){
            tried=1;
            document.getElementById("a3").style.background="green";
            document.getElementById("message").style.color="green";
            document.getElementById("message").innerHTML="<a href={{ next }}><button>Continue</button></a>";
        } else {
            document.getElementById("a3").style.background="red";
            document.getElementById("message").style.color="red";
            document.getElementById("message").innerHTML="<button>Sorry! Try again.</button>";
        }
    }
}
function result4(){
    if (tried==0) {
        if (ans == 4){
            tried=1;
            document.getElementById("a4").style.background="green";
            document.getElementById("message").style.color="green";
            document.getElementById("message").innerHTML="<a href={{ next }}><button>Continue</button></a>";
        } else {
            document.getElementById("a4").style.background="red";
            document.getElementById("message").style.color="red";
            document.getElementById("message").innerHTML="<button>Sorry! Try again.</button>";
        }
    }
}
            
        </script>
        <link rel="stylesheet" href="/static/qpage.css" media=" all" />
        
    </head>
    
    <body>
        
        <div id="main">
            <table border="0">
                <tbody>
                    <tr>
                        <td>
                            <p align="left">
                                
                                <div id="question">
                                    <p>{% for para in quest %}
                                        {{para}} <br>
                                    {% endfor %}</p>
                                    <br>
                                </div>
                                <img id="imgcnt" src ={{ imglnk }} alt="" align="center">
                                <br>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            
                            <div class="answer" id="a1" onclick="result1()" ><span>{{ ams1 }}</span></div>
                        </td>
                        <td>
                            
                            <div class="answer" id="a2" onclick = "result2()" ><span> {{ ams2 }} </span></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="answer" id="a3" onclick="result3()"><span> {{ ams3 }} </span></div>
                        </td>
                        <td>
                            <div class="answer" id="a4" onclick="result4()"><span> {{ ams4 }} </span></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div id="message">
                                <p></p>
                                </span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
